<div class="pt-4">
  <h3 class="text-center">Add/Edit Instructor</h3>
  <div class="container pt-2">
    <table class="table table-sm table-bordered table-stripped table-hover">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>DELETE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let instructor of instructorList" [ngClass]="{'table-active': instructor == selectedItem}" (click)="onRowClick(instructor)">
          <td>{{instructor.firstName}}</td>
          <td>{{instructor.lastName}}</td>
          <td class="text-center">
            <button type="button" class="btn btn-sm btn-danger" (click)="onDeleteClick(instructor)">DELETE</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <h3 class="text-center">Instructor Details</h3>
  <form #instructorForm="ngForm" (ngSubmit)="onSaveClick()">
    <div class="container pt-2 d-flex justify-content-center">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" [(ngModel)]="model.firstName" name="firstName" required />
      </div>
      <div class="form-group px-4">
        <label for="middleName">Middle Name:</label>
        <input type="text" class="form-control" id="middleName" [(ngModel)]="model.middleName" name="middleName" />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" [(ngModel)]="model.lastName" name="lastName" required />
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" [disabled]="!instructorForm.form.valid">ADD/SAVE</button>
    </div>
  </form>
</div>
