<div class="pt-4">
  <h3 class="text-center">Add/Edit Instructor</h3>
  <div class="container pt-2">
    <table class="table table-sm table-bordered table-stripped table-hover">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>DELETE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let instructor of instructorList" [ngClass]="{'table-active': instructor == selectedItem}" (click)="onRowClick(instructor)">
          <td>{{instructor.firstName}}</td>
          <td>{{instructor.lastName}}</td>
          <td>
            <button type="button" class="btn btn-sm btn-danger btn-block" (click)="onDeleteClick(instructor)">DELETE</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
